
	<div id="page_wrap">
	
     <center>	<h1><%= @report.title %></h1></center><br />
		<p>课程名：<%= @report.course %></p>	<br />
		
		<p><%= @report.content %></p>

		<div id="bottom_fade"></div>
	</div>

</div>

