<footer>
  <nav class="round">
   <div class="line"></div>
     
    
    <ul>
      <li><%= link_to "关于我们",'#'%></li>
      <li><%= link_to "联系我们",'#'%></li>
      <li><%= link_to "友情链接",'#'%></li>
      <li><%= link_to "技术支持",'#'%></li>
    </ul>
</footer>
<div class="copyright">
  <p>
    Copyright 2013 XGalaxy  All Rights Reserved
 </p>
</div>

